In [42]:
import pandas as pd

df = pd.read_csv(r'F:\University\Year 3 Semester 1\CSS342 - Data Sci & Data En\Project_V2\Climate Change\Dataset\nasa_power_data.csv')

## EDA

In [43]:
# -999 = missing value
df.shape

(16395, 130)

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16395 entries, 0 to 16394
Columns: 130 entries, DATE to Z0M
dtypes: float64(129), object(1)
memory usage: 16.3+ MB
None

In [45]:
df.head()

,DATE,AIRMASS,ALLSKY_KT,ALLSKY_NKT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_LW_UP,ALLSKY_SFC_PAR_DIFF,ALLSKY_SFC_PAR_DIRH,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,...,WS10M_RANGE,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,Z0M
0,1981-01-01,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.20,2.11,3.52,1.41,2.11,4.04,4.98,3.05,1.93,0.04
1,1981-01-02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.08,2.23,4.01,1.32,2.69,4.25,5.85,2.66,3.19,0.04
2,1981-01-03,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.61,2.83,4.83,1.64,3.19,5.30,7.30,3.73,3.57,0.04
3,1981-01-04,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,4.26,2.26,4.38,0.82,3.56,4.32,6.61,1.66,4.95,0.04
4,1981-01-05,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.54,1.24,2.19,0.22,1.97,2.37,3.54,0.21,3.33,0.04

In [46]:
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'airmass', 'allsky_kt', 'allsky_nkt', 'allsky_sfc_lw_dwn',
       'allsky_sfc_lw_up', 'allsky_sfc_par_diff', 'allsky_sfc_par_dirh',
       'allsky_sfc_par_tot', 'allsky_sfc_sw_diff',
       ...
       'ws10m_range', 'ws2m', 'ws2m_max', 'ws2m_min', 'ws2m_range', 'ws50m',
       'ws50m_max', 'ws50m_min', 'ws50m_range', 'z0m'],
      dtype='object', length=130)

In [47]:
missing = df.isna().sum()
missing_df = pd.DataFrame({
    "missing_count": missing,
}).sort_values("missing_count", ascending=False)

missing_df.to_dict()

{'missing_count': {'clrsky_kt': 7305,
  'clrsky_days': 7305,
  'clrsky_sfc_sw_dwn': 7305,
  'disph': 7305,
  'clrsky_nkt': 7305,
  'clrsky_sfc_par_tot': 7305,
  'clrsky_sfc_lw_dwn': 7305,
  'clrsky_sfc_par_dirh': 7305,
  'clrsky_sfc_par_diff': 7305,
  'clrsky_sfc_lw_up': 7305,
  'cloud_amt': 7305,
  'cloud_amt_day': 7305,
  'cloud_amt_night': 7305,
  'cloud_od': 7305,
  'cdd18_3': 7305,
  'clrsky_sfc_sw_dni': 7305,
  'clrsky_sfc_sw_dirh': 7305,
  'clrsky_sfc_sw_diff': 7305,
  'clrsky_srf_alb': 7305,
  'clrsky_sfc_sw_up': 7305,
  'airmass': 0,
  'date': 0,
  'allsky_srf_alb': 0,
  'allsky_sfc_sw_dwn': 0,
  'allsky_sfc_sw_dni': 0,
  'allsky_sfc_sw_dirh': 0,
  'allsky_sfc_sw_diff': 0,
  'allsky_sfc_uv_index': 0,
  'allsky_sfc_uvb': 0,
  'allsky_sfc_uva': 0,
  'allsky_sfc_sw_up': 0,
  'allsky_kt': 0,
  'allsky_sfc_lw_dwn': 0,
  'allsky_nkt': 0,
  'aod_55': 0,
  'aod_84': 0,
  'aod_55_adj': 0,
  'allsky_sfc_lw_up': 0,
  'allsky_sfc_par_diff': 0,
  'allsky_sfc_par_dirh': 0,
  'allsky_sfc_par_tot': 0,
  'evland': 0,
  'evptrns': 0,
  'frost_days': 0,
  'frseaice': 0,
  'frsno': 0,
  'gwetprof': 0,
  'gwetroot': 0,
  'gwettop': 0,
  'gwm_height': 0,
  'gwm_height_anomaly': 0,
  'hdd0': 0,
  'hdd10': 0,
  'hdd18_3': 0,
  'imerg_precliquid_prob': 0,
  'imerg_prectot': 0,
  'imerg_prectot_count': 0,
  'midday_insol': 0,
  'original_allsky_sfc_lw_dwn': 0,
  'original_allsky_sfc_sw_diff': 0,
  'original_allsky_sfc_sw_dirh': 0,
  'original_allsky_sfc_sw_dwn': 0,
  'original_clrsky_sfc_lw_dwn': 0,
  'original_clrsky_sfc_sw_dwn': 0,
  'pbltop': 0,
  'precsno': 0,
  'precsnoland': 0,
  'prectotcorr': 0,
  'ps': 0,
  'psh': 0,
  'pw': 0,
  'qv10m': 0,
  'qv2m': 0,
  'rh2m': 0,
  'rhoa': 0,
  'slp': 0,
  'snodp': 0,
  'srf_alb_adj': 0,
  'sza': 0,
  't10m': 0,
  't10m_max': 0,
  't10m_min': 0,
  't10m_range': 0,
  't2m': 0,
  't2mdew': 0,
  't2mwet': 0,
  't2m_max': 0,
  't2m_min': 0,
  't2m_range': 0,
  'to3': 0,
  'toa_sw_dni': 0,
  'toa_sw_dwn': 0,
  'tqv': 0,
  'troppb': 0,
  'tropq': 0,
  'tropt': 0,
  'ts': 0,
  'tsoil1': 0,
  'tsoil2': 0,
  'tsoil3': 0,
  'tsoil4': 0,
  'tsoil5': 0,
  'tsoil6': 0,
  'tsurf': 0,
  'ts_adj': 0,
  'ts_max': 0,
  'ts_min': 0,
  'ts_range': 0,
  'u10m': 0,
  'u2m': 0,
  'u50m': 0,
  'v10m': 0,
  'v2m': 0,
  'v50m': 0,
  'wd10m': 0,
  'wd2m': 0,
  'wd50m': 0,
  'ws10m': 0,
  'ws10m_max': 0,
  'ws10m_min': 0,
  'ws10m_range': 0,
  'ws2m': 0,
  'ws2m_max': 0,
  'ws2m_min': 0,
  'ws2m_range': 0,
  'ws50m': 0,
  'ws50m_max': 0,
  'ws50m_min': 0,
  'ws50m_range': 0,
  'z0m': 0}}

## Drop columns

In [48]:
nan_cols = df.columns[df.isna().any()].tolist()
print("Columns with NaN:")
print(nan_cols)
print("Number of columns with NaN:", len(nan_cols))

Columns with NaN:
['cdd18_3', 'cloud_amt', 'cloud_amt_day', 'cloud_amt_night', 'cloud_od', 'clrsky_days', 'clrsky_kt', 'clrsky_nkt', 'clrsky_sfc_lw_dwn', 'clrsky_sfc_lw_up', 'clrsky_sfc_par_diff', 'clrsky_sfc_par_dirh', 'clrsky_sfc_par_tot', 'clrsky_sfc_sw_diff', 'clrsky_sfc_sw_dirh', 'clrsky_sfc_sw_dni', 'clrsky_sfc_sw_dwn', 'clrsky_sfc_sw_up', 'clrsky_srf_alb', 'disph']
Number of columns with NaN: 20

In [49]:
df = df.drop(columns=nan_cols)

In [50]:
df

,date,airmass,allsky_kt,allsky_nkt,allsky_sfc_lw_dwn,allsky_sfc_lw_up,allsky_sfc_par_diff,allsky_sfc_par_dirh,allsky_sfc_par_tot,allsky_sfc_sw_diff,...,ws10m_range,ws2m,ws2m_max,ws2m_min,ws2m_range,ws50m,ws50m_max,ws50m_min,ws50m_range,z0m
0,1981-01-01,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.20,2.11,3.52,1.41,2.11,4.04,4.98,3.05,1.93,0.04
1,1981-01-02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.08,2.23,4.01,1.32,2.69,4.25,5.85,2.66,3.19,0.04
2,1981-01-03,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.61,2.83,4.83,1.64,3.19,5.30,7.30,3.73,3.57,0.04
3,1981-01-04,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,4.26,2.26,4.38,0.82,3.56,4.32,6.61,1.66,4.95,0.04
4,1981-01-05,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.54,1.24,2.19,0.22,1.97,2.37,3.54,0.21,3.33,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16390,2025-11-16,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,1.22,3.51,4.00,2.93,1.07,6.29,7.01,5.15,1.86,0.07
16391,2025-11-17,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,1.47,3.17,3.72,2.57,1.15,5.69,6.46,4.66,1.80,0.07
16392,2025-11-18,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
16393,2025-11-19,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
16394,2025-11-20,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00

In [51]:
def check_missing_flags(df):
    missing_flags = [-999, -999.0, -9999, -99, -99.0]
    rows = []

    for col in df.columns:
        count = df[col].isin(missing_flags).sum()
        rows.append({"column_name": col, "missing_flag_count": count})

    return pd.DataFrame(rows)

missing_report = check_missing_flags(df)
missing_report

           column_name  missing_flag_count
0                 date                   0
1              airmass                7418
2            allsky_kt                7418
3           allsky_nkt                7419
4    allsky_sfc_lw_dwn                2562
..                 ...                 ...
105              ws50m                   3
106          ws50m_max                   3
107          ws50m_min                   3
108        ws50m_range                   3
109                z0m                   3

[110 rows x 2 columns]

In [52]:
missing_report = check_missing_flags(df)

for idx, row in missing_report.iterrows():
    print(f"{row['column_name']}: {row['missing_flag_count']}")

date: 0
airmass: 7418
allsky_kt: 7418
allsky_nkt: 7419
allsky_sfc_lw_dwn: 2562
allsky_sfc_lw_up: 1208
allsky_sfc_par_diff: 7418
allsky_sfc_par_dirh: 7418
allsky_sfc_par_tot: 1208
allsky_sfc_sw_diff: 1208
allsky_sfc_sw_dirh: 7418
allsky_sfc_sw_dni: 7418
allsky_sfc_sw_dwn: 1101
allsky_sfc_sw_up: 1208
allsky_sfc_uva: 7418
allsky_sfc_uvb: 7418
allsky_sfc_uv_index: 7418
allsky_srf_alb: 7418
aod_55: 7418
aod_55_adj: 7418
aod_84: 7418
evland: 3
evptrns: 3
frost_days: 3
frseaice: 3
frsno: 3
gwetprof: 3
gwetroot: 3
gwettop: 3
gwm_height: 16395
gwm_height_anomaly: 16395
hdd0: 3
hdd10: 3
hdd18_3: 3
imerg_precliquid_prob: 16395
imerg_prectot: 16395
imerg_prectot_count: 16395
midday_insol: 7418
original_allsky_sfc_lw_dwn: 10185
original_allsky_sfc_sw_diff: 7418
original_allsky_sfc_sw_dirh: 7418
original_allsky_sfc_sw_dwn: 10185
original_clrsky_sfc_lw_dwn: 10185
original_clrsky_sfc_sw_dwn: 10185
pbltop: 20
precsno: 3
precsnoland: 20
prectotcorr: 3
ps: 3
psh: 7418
pw: 7418
qv10m: 3
qv2m: 3
rh2m: 3
rhoa: 3
slp: 3
snodp: 3
srf_alb_adj: 7418
sza: 10185
t10m: 3
t10m_max: 3
t10m_min: 3
t10m_range: 3
t2m: 3
t2mdew: 3
t2mwet: 3
t2m_max: 3
t2m_min: 3
t2m_range: 3
to3: 3
toa_sw_dni: 7418
toa_sw_dwn: 1101
tqv: 3
troppb: 3
tropq: 3
tropt: 3
ts: 3
tsoil1: 3
tsoil2: 3
tsoil3: 3
tsoil4: 3
tsoil5: 3
tsoil6: 3
tsurf: 3
ts_adj: 7418
ts_max: 3
ts_min: 3
ts_range: 3
u10m: 3
u2m: 3
u50m: 3
v10m: 3
v2m: 3
v50m: 3
wd10m: 3
wd2m: 3
wd50m: 3
ws10m: 3
ws10m_max: 3
ws10m_min: 3
ws10m_range: 3
ws2m: 3
ws2m_max: 3
ws2m_min: 3
ws2m_range: 3
ws50m: 3
ws50m_max: 3
ws50m_min: 3
ws50m_range: 3
z0m: 3

In [53]:
nan_cols2 = [
    'airmass',
    'allsky_kt',
    'allsky_nkt',
    'allsky_sfc_lw_dwn',
    'allsky_sfc_lw_up',
    'allsky_sfc_par_diff',
    'allsky_sfc_par_dirh',
    'allsky_sfc_par_tot',
    'allsky_sfc_sw_diff',
    'allsky_sfc_sw_dirh',
    'allsky_sfc_sw_dni',
    'allsky_sfc_sw_dwn',
    'allsky_sfc_sw_up',
    'allsky_sfc_uva',
    'allsky_sfc_uvb',
    'allsky_sfc_uv_index',
    'allsky_srf_alb',
    'aod_55',
    'aod_55_adj',
    'aod_84',
    'gwm_height',
    'gwm_height_anomaly',
    'imerg_precliquid_prob',
    'imerg_prectot',
    'imerg_prectot_count',
    'midday_insol',
    'original_allsky_sfc_lw_dwn',
    'original_allsky_sfc_sw_diff',
    'original_allsky_sfc_sw_dirh',
    'original_allsky_sfc_sw_dwn',
    'original_clrsky_sfc_lw_dwn',
    'original_clrsky_sfc_sw_dwn',
    'psh',
    'pw',
    'srf_alb_adj',
    'sza',
    'toa_sw_dni',
    'toa_sw_dwn',
    'ts_adj'
]

In [54]:
df = df.drop(columns=nan_cols2)

In [55]:
missing_report = check_missing_flags(df)
missing_report

    column_name  missing_flag_count
0          date                   0
1        evland                   3
2       evptrns                   3
3    frost_days                   3
4      frseaice                   3
..          ...                 ...
66        ws50m                   3
67    ws50m_max                   3
68    ws50m_min                   3
69  ws50m_range                   3
70          z0m                   3

[71 rows x 2 columns]

In [56]:
df.columns

Index(['date', 'evland', 'evptrns', 'frost_days', 'frseaice', 'frsno',
       'gwetprof', 'gwetroot', 'gwettop', 'hdd0', 'hdd10', 'hdd18_3', 'pbltop',
       'precsno', 'precsnoland', 'prectotcorr', 'ps', 'qv10m', 'qv2m', 'rh2m',
       'rhoa', 'slp', 'snodp', 't10m', 't10m_max', 't10m_min', 't10m_range',
       't2m', 't2mdew', 't2mwet', 't2m_max', 't2m_min', 't2m_range', 'to3',
       'tqv', 'troppb', 'tropq', 'tropt', 'ts', 'tsoil1', 'tsoil2', 'tsoil3',
       'tsoil4', 'tsoil5', 'tsoil6', 'tsurf', 'ts_max', 'ts_min', 'ts_range',
       'u10m', 'u2m', 'u50m', 'v10m', 'v2m', 'v50m', 'wd10m', 'wd2m', 'wd50m',
       'ws10m', 'ws10m_max', 'ws10m_min', 'ws10m_range', 'ws2m', 'ws2m_max',
       'ws2m_min', 'ws2m_range', 'ws50m', 'ws50m_max', 'ws50m_min',
       'ws50m_range', 'z0m'],
      dtype='object')

In [57]:
missing_flags = [-999, -999.0, -9999, -99, -99.0]

rows_with_missing_flags = df[df.isin(missing_flags).any(axis=1)]
print(rows_with_missing_flags)

             date  evland  evptrns  frost_days  frseaice  frsno  gwetprof  \
16375  2025-11-01    4.77     2.32         0.0       0.0    0.0      0.90
16376  2025-11-02    4.25     2.29         0.0       0.0    0.0      0.91
16377  2025-11-03    2.15     0.66         0.0       0.0    0.0      0.93
16378  2025-11-04    3.96     1.44         0.0       0.0    0.0      0.94
16379  2025-11-05    4.11     1.57         0.0       0.0    0.0      0.93
16380  2025-11-06    4.40     1.88         0.0       0.0    0.0      0.93
16381  2025-11-07    2.44     0.75         0.0       0.0    0.0      0.93
16382  2025-11-08    4.02     1.79         0.0       0.0    0.0      0.93
16383  2025-11-09    4.96     2.40         0.0       0.0    0.0      0.93
16384  2025-11-10    3.80     1.89         0.0       0.0    0.0      0.92
16385  2025-11-11    4.02     2.08         0.0       0.0    0.0      0.92
16386  2025-11-12    3.96     2.46         0.0       0.0    0.0      0.92
16387  2025-11-13    2.83     1.06         0.0       0.0    0.0      0.92
16388  2025-11-14    4.90     1.66         0.0       0.0    0.0      0.92
16389  2025-11-15    5.94     2.32         0.0       0.0    0.0      0.91
16390  2025-11-16    5.62     2.30         0.0       0.0    0.0      0.91
16391  2025-11-17    2.94     0.78         0.0       0.0    0.0      0.91
16392  2025-11-18 -999.00  -999.00      -999.0    -999.0 -999.0   -999.00
16393  2025-11-19 -999.00  -999.00      -999.0    -999.0 -999.0   -999.00
16394  2025-11-20 -999.00  -999.00      -999.0    -999.0 -999.0   -999.00

       gwetroot  gwettop   hdd0  ...  ws10m_range    ws2m  ws2m_max  ws2m_min  \
16375      0.93     0.91    0.0  ...         1.30    1.67      2.25      1.14
16376      0.93     0.91    0.0  ...         1.42    1.15      1.63      0.72
16377      0.96     0.94    0.0  ...         2.23    1.12      2.01      0.38
16378      0.96     0.93    0.0  ...         1.54    1.93      2.48      1.32
16379      0.96     0.92    0.0  ...         1.32    2.07      2.50      1.65
16380      0.95     0.92    0.0  ...         2.07    1.99      2.72      1.20
16381      0.95     0.92    0.0  ...         1.97    1.89      2.58      0.77
16382      0.95     0.92    0.0  ...         2.44    1.13      2.11      0.14
16383      0.95     0.92    0.0  ...         1.21    1.37      1.71      1.03
16384      0.94     0.92    0.0  ...         1.67    1.06      1.76      0.60
16385      0.94     0.92    0.0  ...         1.21    1.10      1.51      0.72
16386      0.94     0.92    0.0  ...         1.39    0.73      1.15      0.39
16387      0.94     0.92    0.0  ...         2.86    1.32      2.37      0.25
16388      0.94     0.91    0.0  ...         1.67    2.79      3.60      2.28
16389      0.93     0.90    0.0  ...         1.91    3.11      4.00      2.27
16390      0.93     0.90    0.0  ...         1.22    3.51      4.00      2.93
16391      0.93     0.91    0.0  ...         1.47    3.17      3.72      2.57
16392   -999.00  -999.00 -999.0  ...      -999.00 -999.00   -999.00   -999.00
16393   -999.00  -999.00 -999.0  ...      -999.00 -999.00   -999.00   -999.00
16394   -999.00  -999.00 -999.0  ...      -999.00 -999.00   -999.00   -999.00

       ws2m_range   ws50m  ws50m_max  ws50m_min  ws50m_range     z0m
16375        1.11    3.30       4.91       1.78         3.13    0.07
16376        0.91    2.22       3.50       0.90         2.60    0.07
16377        1.63    1.99       4.23       0.51         3.72    0.07
16378        1.16    3.45       4.71       2.01         2.70    0.07
16379        0.85    3.68       5.09       2.15         2.94    0.07
16380        1.52    3.59       4.37       1.52         2.85    0.07
16381        1.81    3.44       4.76       1.96         2.80    0.07
16382        1.97    2.21       4.21       0.38         3.83    0.07
16383        0.68    2.73       4.19       1.54         2.65    0.07
16384        1.16    2.08       3.77       0.72         3.05    0.07
16385        0.79    2.17       3.81       1.23         2.58    0.07
16386        0.76    1.31       2.69       0.51         2.18    0.07
16387        2.12    2.59       4.90       0.36         4.54    0.07
16388        1.32    5.26       7.11       4.05         3.06    0.07
16389        1.73    5.97       7.02       5.09         1.93    0.07
16390        1.07    6.29       7.01       5.15         1.86    0.07
16391        1.15    5.69       6.46       4.66         1.80    0.07
16392     -999.00 -999.00    -999.00    -999.00      -999.00 -999.00
16393     -999.00 -999.00    -999.00    -999.00      -999.00 -999.00
16394     -999.00 -999.00    -999.00    -999.00      -999.00 -999.00

[20 rows x 71 columns]

In [58]:
df['date'] = pd.to_datetime(df['date'])
last3 = df['date'].nlargest(3).tolist()
df = df[~df['date'].isin(last3)]

In [59]:
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    mask = df[col].isin(missing_flags)
    if mask.any():  
        mean_val = df.loc[~mask, col].mean()
        df.loc[mask, col] = mean_val

In [60]:
missing_report = check_missing_flags(df)
missing_report

    column_name  missing_flag_count
0          date                   0
1        evland                   0
2       evptrns                   0
3    frost_days                   0
4      frseaice                   0
..          ...                 ...
66        ws50m                   0
67    ws50m_max                   0
68    ws50m_min                   0
69  ws50m_range                   0
70          z0m                   0

[71 rows x 2 columns]

In [61]:
df['date'].dtype

dtype('<M8[ns]')

In [62]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date')

In [63]:
df.dtypes

date           datetime64[ns]
evland                float64
evptrns               float64
frost_days            float64
frseaice              float64
                    ...
ws50m                 float64
ws50m_max             float64
ws50m_min             float64
ws50m_range           float64
z0m                   float64
Length: 71, dtype: object

In [64]:
print("Is date duplicate :", df['date'].duplicated().any())
print("Number of date with duplicate :", df['date'].duplicated().sum())

Is date duplicate : False
Number of date with duplicate : 0

In [65]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [66]:
df['week'] = df['date'].dt.isocalendar().week
df['weekday'] = df['date'].dt.dayofweek     # Monday = 0

def asia_season(m):
    if m in [12, 1, 2]:
        return "winter"
    elif m in [3, 4, 5]:
        return "summer"
    else:
        return "rainy"

df['season'] = df['month'].apply(asia_season)

In [67]:
season_map = {
    "winter": 0,
    "summer": 1,
    "rainy": 2
}

df['season_num'] = df['season'].map(season_map)

In [68]:
# column date, season wait for drop when training
df.head(3)

,date,evland,evptrns,frost_days,frseaice,frsno,gwetprof,gwetroot,gwettop,hdd0,...,ws50m_min,ws50m_range,z0m,year,month,day,week,weekday,season,season_num
0,1981-01-01,1.88,0.34,0.0,0.0,0.0,0.61,0.61,0.62,0.0,...,3.05,1.93,0.04,1981,1,1,1,3,winter,0
1,1981-01-02,1.77,0.28,0.0,0.0,0.0,0.61,0.60,0.62,0.0,...,2.66,3.19,0.04,1981,1,2,1,4,winter,0
2,1981-01-03,1.72,0.24,0.0,0.0,0.0,0.60,0.60,0.62,0.0,...,3.73,3.57,0.04,1981,1,3,1,5,winter,0

In [69]:
df.columns

Index(['date', 'evland', 'evptrns', 'frost_days', 'frseaice', 'frsno',
       'gwetprof', 'gwetroot', 'gwettop', 'hdd0', 'hdd10', 'hdd18_3', 'pbltop',
       'precsno', 'precsnoland', 'prectotcorr', 'ps', 'qv10m', 'qv2m', 'rh2m',
       'rhoa', 'slp', 'snodp', 't10m', 't10m_max', 't10m_min', 't10m_range',
       't2m', 't2mdew', 't2mwet', 't2m_max', 't2m_min', 't2m_range', 'to3',
       'tqv', 'troppb', 'tropq', 'tropt', 'ts', 'tsoil1', 'tsoil2', 'tsoil3',
       'tsoil4', 'tsoil5', 'tsoil6', 'tsurf', 'ts_max', 'ts_min', 'ts_range',
       'u10m', 'u2m', 'u50m', 'v10m', 'v2m', 'v50m', 'wd10m', 'wd2m', 'wd50m',
       'ws10m', 'ws10m_max', 'ws10m_min', 'ws10m_range', 'ws2m', 'ws2m_max',
       'ws2m_min', 'ws2m_range', 'ws50m', 'ws50m_max', 'ws50m_min',
       'ws50m_range', 'z0m', 'year', 'month', 'day', 'week', 'weekday',
       'season', 'season_num'],
      dtype='object')

In [70]:
for i in list(df.columns):
  print(i,", Type: " + df[i].dtype.name)

date , Type: datetime64[ns]
evland , Type: float64
evptrns , Type: float64
frost_days , Type: float64
frseaice , Type: float64
frsno , Type: float64
gwetprof , Type: float64
gwetroot , Type: float64
gwettop , Type: float64
hdd0 , Type: float64
hdd10 , Type: float64
hdd18_3 , Type: float64
pbltop , Type: float64
precsno , Type: float64
precsnoland , Type: float64
prectotcorr , Type: float64
ps , Type: float64
qv10m , Type: float64
qv2m , Type: float64
rh2m , Type: float64
rhoa , Type: float64
slp , Type: float64
snodp , Type: float64
t10m , Type: float64
t10m_max , Type: float64
t10m_min , Type: float64
t10m_range , Type: float64
t2m , Type: float64
t2mdew , Type: float64
t2mwet , Type: float64
t2m_max , Type: float64
t2m_min , Type: float64
t2m_range , Type: float64
to3 , Type: float64
tqv , Type: float64
troppb , Type: float64
tropq , Type: float64
tropt , Type: float64
ts , Type: float64
tsoil1 , Type: float64
tsoil2 , Type: float64
tsoil3 , Type: float64
tsoil4 , Type: float64
tsoil5 , Type: float64
tsoil6 , Type: float64
tsurf , Type: float64
ts_max , Type: float64
ts_min , Type: float64
ts_range , Type: float64
u10m , Type: float64
u2m , Type: float64
u50m , Type: float64
v10m , Type: float64
v2m , Type: float64
v50m , Type: float64
wd10m , Type: float64
wd2m , Type: float64
wd50m , Type: float64
ws10m , Type: float64
ws10m_max , Type: float64
ws10m_min , Type: float64
ws10m_range , Type: float64
ws2m , Type: float64
ws2m_max , Type: float64
ws2m_min , Type: float64
ws2m_range , Type: float64
ws50m , Type: float64
ws50m_max , Type: float64
ws50m_min , Type: float64
ws50m_range , Type: float64
z0m , Type: float64
year , Type: int32
month , Type: int32
day , Type: int32
week , Type: UInt32
weekday , Type: int32
season , Type: object
season_num , Type: int64

In [71]:
zero_report = (df == 0).sum()

zero_df = zero_report.reset_index()
zero_df.columns = ['column_name', 'zero_count']

In [72]:
zero_df

   column_name  zero_count
0         date           0
1       evland           0
2      evptrns        1756
3   frost_days       16392
4     frseaice       16392
..         ...         ...
73         day           0
74        week           0
75     weekday        2342
76      season           0
77  season_num        4030

[78 rows x 2 columns]

In [73]:
cols_to_drop = [
    'frost_days',
    'precsno',
    'precsnoland',
    'snodp',
    'frsno',
    'frseaice'
]

df = df.drop(columns=cols_to_drop, errors='ignore')

In [74]:
# Monday = 0
# winter = 0, summer = 1, rainy = 2

In [75]:
df = df.drop(columns=["season"], errors='ignore')

In [76]:
df.columns

Index(['date', 'evland', 'evptrns', 'gwetprof', 'gwetroot', 'gwettop', 'hdd0',
       'hdd10', 'hdd18_3', 'pbltop', 'prectotcorr', 'ps', 'qv10m', 'qv2m',
       'rh2m', 'rhoa', 'slp', 't10m', 't10m_max', 't10m_min', 't10m_range',
       't2m', 't2mdew', 't2mwet', 't2m_max', 't2m_min', 't2m_range', 'to3',
       'tqv', 'troppb', 'tropq', 'tropt', 'ts', 'tsoil1', 'tsoil2', 'tsoil3',
       'tsoil4', 'tsoil5', 'tsoil6', 'tsurf', 'ts_max', 'ts_min', 'ts_range',
       'u10m', 'u2m', 'u50m', 'v10m', 'v2m', 'v50m', 'wd10m', 'wd2m', 'wd50m',
       'ws10m', 'ws10m_max', 'ws10m_min', 'ws10m_range', 'ws2m', 'ws2m_max',
       'ws2m_min', 'ws2m_range', 'ws50m', 'ws50m_max', 'ws50m_min',
       'ws50m_range', 'z0m', 'year', 'month', 'day', 'week', 'weekday',
       'season_num'],
      dtype='object')

In [77]:
df.to_csv('clean_nasa_power_data.csv', index=False)