In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'F:\University\Year 3 Semester 1\CSS342 - Data Sci & Data En\Project_V2\Climate Change\Dataset\nasa_power_prepared_data.csv')

In [3]:
df.head(3)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,day,week,weekday,season_num,et_total,t2m_forecast_7d,rain_forecast_7d,et_forecast_7d,soil_moisture_forecast_7d,wind_forecast_7d
0,1981-01-01,1.88,0.34,0.61,0.61,0.62,0.0,0.0,0.0,93.03,...,1,1,3,0,2.22,27.44,0.06,1.57,0.56,1.95
1,1981-01-02,1.77,0.28,0.61,0.60,0.62,0.0,0.0,0.0,91.99,...,2,1,4,0,2.05,26.87,0.00,1.47,0.55,2.52
2,1981-01-03,1.72,0.24,0.60,0.60,0.62,0.0,0.0,0.0,91.67,...,3,1,5,0,1.96,26.14,0.00,1.40,0.54,3.58

## Feature selection