| Task                    | y (Target)         |
| ----------------------- | ------------------ |
| **Weather Forecast**    | `t2m`  |
| **Rainfall**            | `prectotcorr`      |
| **Evapotranspiration**  | `evland + evptrns` |
| **Soil Moisture**       | `gwettop`          |
| **Wind Speed**          | `ws10m`            |

## Shift for 7 days forecast

In [26]:
import pandas as pd

In [27]:
df = pd.read_csv(r'F:\University\Year 3 Semester 1\CSS342 - Data Sci & Data En\Project_V2\Climate Change\Dataset\clean_nasa_power_data.csv')

In [28]:
df.head(3)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,ws50m_max,ws50m_min,ws50m_range,z0m,year,month,day,week,weekday,season_num
0,1981-01-01,1.88,0.34,0.61,0.61,0.62,0.0,0.0,0.0,93.03,...,4.98,3.05,1.93,0.04,1981,1,1,1,3,0
1,1981-01-02,1.77,0.28,0.61,0.60,0.62,0.0,0.0,0.0,91.99,...,5.85,2.66,3.19,0.04,1981,1,2,1,4,0
2,1981-01-03,1.72,0.24,0.60,0.60,0.62,0.0,0.0,0.0,91.67,...,7.30,3.73,3.57,0.04,1981,1,3,1,5,0

In [29]:
df.tail(10)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,ws50m_max,ws50m_min,ws50m_range,z0m,year,month,day,week,weekday,season_num
16382,2025-11-08,4.02,1.79,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,4.21,0.38,3.83,0.07,2025,11,8,45,5,2
16383,2025-11-09,4.96,2.40,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,4.19,1.54,2.65,0.07,2025,11,9,45,6,2
16384,2025-11-10,3.80,1.89,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,3.77,0.72,3.05,0.07,2025,11,10,46,0,2
16385,2025-11-11,4.02,2.08,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,3.81,1.23,2.58,0.07,2025,11,11,46,1,2
16386,2025-11-12,3.96,2.46,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,2.69,0.51,2.18,0.07,2025,11,12,46,2,2
16387,2025-11-13,2.83,1.06,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,4.90,0.36,4.54,0.07,2025,11,13,46,3,2
16388,2025-11-14,4.90,1.66,0.92,0.94,0.91,0.0,0.0,0.0,92.68754,...,7.11,4.05,3.06,0.07,2025,11,14,46,4,2
16389,2025-11-15,5.94,2.32,0.91,0.93,0.90,0.0,0.0,0.0,92.68754,...,7.02,5.09,1.93,0.07,2025,11,15,46,5,2
16390,2025-11-16,5.62,2.30,0.91,0.93,0.90,0.0,0.0,0.0,92.68754,...,7.01,5.15,1.86,0.07,2025,11,16,46,6,2
16391,2025-11-17,2.94,0.78,0.91,0.93,0.91,0.0,0.0,0.0,92.68754,...,6.46,4.66,1.80,0.07,2025,11,17,47,0,2

In [30]:
H = 7

df["et_total"] = df["evland"] + df["evptrns"]

df["t2m_forecast_7d"] = df["t2m"].shift(-H)
df["rain_forecast_7d"] = df["prectotcorr"].shift(-H)
df["et_forecast_7d"] = df["et_total"].shift(-H)
df["soil_moisture_forecast_7d"] = df["gwettop"].shift(-H)
df["wind_forecast_7d"] = df["ws10m"].shift(-H)

In [31]:
df.tail(10)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,day,week,weekday,season_num,et_total,t2m_forecast_7d,rain_forecast_7d,et_forecast_7d,soil_moisture_forecast_7d,wind_forecast_7d
16382,2025-11-08,4.02,1.79,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,8,45,5,2,5.81,24.49,0.06,8.26,0.90,4.17
16383,2025-11-09,4.96,2.40,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,9,45,6,2,7.36,25.14,3.85,7.92,0.90,4.63
16384,2025-11-10,3.80,1.89,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,10,46,0,2,5.69,24.91,14.40,3.72,0.91,4.17
16385,2025-11-11,4.02,2.08,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,11,46,1,2,6.10,NaN,NaN,NaN,NaN,NaN
16386,2025-11-12,3.96,2.46,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,12,46,2,2,6.42,NaN,NaN,NaN,NaN,NaN
16387,2025-11-13,2.83,1.06,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,13,46,3,2,3.89,NaN,NaN,NaN,NaN,NaN
16388,2025-11-14,4.90,1.66,0.92,0.94,0.91,0.0,0.0,0.0,92.68754,...,14,46,4,2,6.56,NaN,NaN,NaN,NaN,NaN
16389,2025-11-15,5.94,2.32,0.91,0.93,0.90,0.0,0.0,0.0,92.68754,...,15,46,5,2,8.26,NaN,NaN,NaN,NaN,NaN
16390,2025-11-16,5.62,2.30,0.91,0.93,0.90,0.0,0.0,0.0,92.68754,...,16,46,6,2,7.92,NaN,NaN,NaN,NaN,NaN
16391,2025-11-17,2.94,0.78,0.91,0.93,0.91,0.0,0.0,0.0,92.68754,...,17,47,0,2,3.72,NaN,NaN,NaN,NaN,NaN

In [35]:
target_cols = [
    "t2m_forecast_7d",
    "rain_forecast_7d",
    "et_forecast_7d",
    "soil_moisture_forecast_7d",
    "wind_forecast_7d"
]

df = df.dropna(subset=target_cols)

df.tail(5)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,day,week,weekday,season_num,et_total,t2m_forecast_7d,rain_forecast_7d,et_forecast_7d,soil_moisture_forecast_7d,wind_forecast_7d
16380,2025-11-06,4.40,1.88,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,6,45,3,2,6.28,27.32,11.61,3.89,0.92,1.80
16381,2025-11-07,2.44,0.75,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,7,45,4,2,3.19,25.75,1.93,6.56,0.91,3.70
16382,2025-11-08,4.02,1.79,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,8,45,5,2,5.81,24.49,0.06,8.26,0.90,4.17
16383,2025-11-09,4.96,2.40,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,9,45,6,2,7.36,25.14,3.85,7.92,0.90,4.63
16384,2025-11-10,3.80,1.89,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,10,46,0,2,5.69,24.91,14.40,3.72,0.91,4.17

In [34]:
df.tail(5)

,date,evland,evptrns,gwetprof,gwetroot,gwettop,hdd0,hdd10,hdd18_3,pbltop,...,day,week,weekday,season_num,et_total,t2m_forecast_7d,rain_forecast_7d,et_forecast_7d,soil_moisture_forecast_7d,wind_forecast_7d
16380,2025-11-06,4.40,1.88,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,6,45,3,2,6.28,27.32,11.61,3.89,0.92,1.80
16381,2025-11-07,2.44,0.75,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,7,45,4,2,3.19,25.75,1.93,6.56,0.91,3.70
16382,2025-11-08,4.02,1.79,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,8,45,5,2,5.81,24.49,0.06,8.26,0.90,4.17
16383,2025-11-09,4.96,2.40,0.93,0.95,0.92,0.0,0.0,0.0,92.68754,...,9,45,6,2,7.36,25.14,3.85,7.92,0.90,4.63
16384,2025-11-10,3.80,1.89,0.92,0.94,0.92,0.0,0.0,0.0,92.68754,...,10,46,0,2,5.69,24.91,14.40,3.72,0.91,4.17

Weather Forecast (T2M prediction)
- https://www.sciencedirect.com/science/article/pii/S2352484721001979?via%3Dihub
- https://ieeexplore.ieee.org/document/9117139

Rainfall Forecast (Precipitation)
- https://github.com/miketobz/ML-Rainfall-Prediction
- https://www.nature.com/articles/s41598-024-77687-x

Evapotranspiration (ET) Forecast
- https://www.nature.com/articles/s41598-024-83859-6
- https://www.sciencedirect.com/science/article/pii/S2214581824003720

Soil Moisture Forecast
- IoT based soil moisture measurement and type prediction using advanced regression and machine learning models
- https://www.sciencedirect.com/science/article/abs/pii/S0168169924008056
- https://www.mdpi.com/2673-4834/6/3/98

Wind Speed Forecast
- https://www.nature.com/articles/s41598-025-24640-1
- https://www.sciencedirect.com/science/article/pii/S0167610525000315