In [ ]:
import pandas as pd

df = pd.read_csv("backend-project/airflow/data/raw/nasa_power_data.csv")
df.to_parquet("backend-project/airflow/data/raw/power_daily1.parquet")

In [9]:
import pandas as pd

df = pd.read_csv("nasa_power_data.csv")
df

,DATE,AIRMASS,ALLSKY_KT,ALLSKY_NKT,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_LW_UP,ALLSKY_SFC_PAR_DIFF,ALLSKY_SFC_PAR_DIRH,ALLSKY_SFC_PAR_TOT,ALLSKY_SFC_SW_DIFF,...,WS10M_RANGE,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,Z0M
0,1981-01-01,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.20,2.11,3.52,1.41,2.11,4.04,4.98,3.05,1.93,0.04
1,1981-01-02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.08,2.23,4.01,1.32,2.69,4.25,5.85,2.66,3.19,0.04
2,1981-01-03,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,3.61,2.83,4.83,1.64,3.19,5.30,7.30,3.73,3.57,0.04
3,1981-01-04,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,4.26,2.26,4.38,0.82,3.56,4.32,6.61,1.66,4.95,0.04
4,1981-01-05,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.54,1.24,2.19,0.22,1.97,2.37,3.54,0.21,3.33,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16394,2025-11-20,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,2.45,4.40,5.05,3.12,1.93,7.65,8.69,6.86,1.83,0.07
16395,2025-11-21,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,0.97,3.97,4.47,3.58,0.89,7.07,7.72,5.99,1.73,0.07
16396,2025-11-22,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
16397,2025-11-23,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00
16398,2025-11-24,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00,-999.00

In [ ]:
import pandas as pd

df = pd.read_csv("feature_engineering_t2m_output.csv")
df.shape

In [5]:
df

,date,tsoil1,tsoil2,tsoil3,tsoil4,t2m,t2m_max,t2m_min,t10m,t10m_max,...,v2m_roll7_mean,v2m_roll7_std,v10m_roll3_mean,v10m_roll3_std,v10m_roll7_mean,v10m_roll7_std,v50m_roll3_mean,v50m_roll3_std,v50m_roll7_mean,v50m_roll7_std
0,1981-01-08,28.31,27.46,26.51,26.12,27.44,32.15,23.01,27.53,31.40,...,-0.092857,1.376756,1.740000,0.157162,-0.127143,1.893055,2.463333,0.280238,-0.160000,2.664670
1,1981-01-09,27.89,27.60,26.72,26.17,26.87,32.18,22.54,27.06,31.42,...,0.062857,1.243647,0.950000,1.351259,0.091429,1.701944,1.333333,1.901429,0.142857,2.400803
2,1981-01-10,26.91,27.15,26.81,26.22,26.14,32.43,20.14,26.33,31.50,...,0.055714,1.255546,-0.486667,2.002407,0.075714,1.728225,-0.673333,2.743799,0.127143,2.426704
3,1981-01-11,25.44,26.53,26.76,26.27,23.96,29.28,19.07,23.71,28.34,...,-0.171429,1.610118,-2.226667,1.535133,-0.217143,2.175360,-2.960000,1.961352,-0.217143,2.944219
4,1981-01-12,23.70,25.34,26.51,26.31,21.98,27.99,16.64,21.73,27.08,...,-0.567143,1.891161,-3.263333,0.722311,-0.738571,2.538546,-4.283333,0.827124,-0.900000,3.410909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16384,2025-11-17,24.51,25.08,25.84,26.55,24.91,26.56,23.22,24.89,26.55,...,-1.254286,1.373898,-3.213333,0.351615,-1.651429,1.819683,-4.366667,0.465224,-2.264286,2.477074
16385,2025-11-18,24.79,25.09,25.70,26.49,25.29,27.60,23.94,25.27,27.48,...,-1.724286,1.264026,-3.443333,0.444110,-2.275714,1.665642,-4.576667,0.581578,-3.104286,2.207509
16386,2025-11-19,22.18,24.21,25.55,26.42,21.88,23.97,19.08,21.85,24.03,...,-2.402857,1.097356,-4.096667,1.343292,-3.180000,1.446767,-5.360000,1.672692,-4.270000,1.817489
16387,2025-11-20,19.76,22.13,24.89,26.32,19.72,21.68,17.56,19.62,21.43,...,-2.897143,0.888251,-4.883333,0.965004,-3.825714,1.181424,-6.363333,1.205584,-5.092857,1.439348
16388,2025-11-21,20.52,21.67,24.13,26.16,21.27,24.34,18.43,21.22,24.29,...,-3.142857,0.796361,-5.206667,0.417892,-4.148571,1.057913,-6.820000,0.428836,-5.505714,1.300729